<md-toolbar color="primary">
  <img src="./images/cavi_logo_white.png" width="120" height="20">
  <button class="app-icon-button" (click)="onToggleMenuNavigation()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>
    Dashboard
  <span class="app-toolbar-filler"></span>
  <button md-button class="app-icon-button" (click)="onClickPersonButton()" ><i class="material-icons app-toolbar-menu">person</i></button>
  <button md-button (click)="isDarkTheme = !isDarkTheme" class="app-icon-button"><i class="material-icons app-toolbar-menu">settings</i></button>
</md-toolbar>
